Day 1/.idea/modules.xml
Day 1/Day 1.iml
Day 1/.idea/.gitignore
Day 1/out/production/Day 1/pl/kanthak/Main.class
Day 1/.idea/description.html
Day 1/.idea/encodings.xml
Day 1/.idea/misc.xml
Day 1/.idea/project-template.xml
Day 1/.idea/vcs.xml
Day 2/Day 2.iml
Day 2/.idea/.gitignore
Day 2/.idea/description.html
Day 2/.idea/encodings.xml
Day 2/.idea/misc.xml
Day 2/.idea/modules.xml
Day 2/.idea/project-template.xml
Day 2/.idea/vcs.xml
Day 2/out/production/Day 2/pl/kanthak/Main.class
Day 2/.idea/$PRODUCT_WORKSPACE_FILE$
Day 2/.idea/Day 2.iml
Day 2/.idea/uiDesigner.xml
Day 4/Day 4.iml
Day 4/.idea/.gitignore
Day 4/.idea/description.html
Day 4/.idea/encodings.xml
Day 4/.idea/misc.xml
Day 4/.idea/modules.xml
Day 4/.idea/project-template.xml
Day 4/.idea/vcs.xml
Day 4/out/production/Day 4/META-INF/Day 4.kotlin_module
Day 4/out/production/Day 4/pl/kanthak/Main.class
Day 4/out/production/Day 4/pl/kanthak/Main2.class
.idea/.gitignore
.idea/Advent of Code.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Day 1/.idea/Day 1.iml
Day 3/Day 3.iml
out/production/Day 2/pl/kanthak/Stage1.class
out/production/Day 2/pl/kanthak/Stage2.class
out/production/Day 3/pl/kanthak/Path.class
out/production/Day 3/pl/kanthak/Position.class
out/production/Day 3/pl/kanthak/Stage1.class
out/production/Day 3/pl/kanthak/Stage2.class
out/production/Day 4/pl/kanthak/Stage1.class
out/production/Day 4/pl/kanthak/Stage2.class
out/production/Day 5/pl/kanthak/Stage1.class
Day 5/out/production/Day 5/pl/kanthak/Stage1.class
Day 5/.idea/.gitignore
Day 5/.idea/description.html
Day 5/.idea/encodings.xml
Day 5/.idea/misc.xml
Day 5/.idea/modules.xml
Day 5/.idea/project-template.xml
Day 5/.idea/vcs.xml
Day 5/Day 5.iml
Day 5/src/pl/kanthak/Test.java
out/production/Day 5/pl/kanthak/Stage2.class
.idea/prog.iml
.idea/workspace.xml
Day 66/Day 6.iml
out/production/Day 6/kanthak/pl/Planet.class
out/production/Day 6/kanthak/pl/Stage1.class
.idea/uiDesigner.xml
out/production/Day 6/pl/kanthak/Planet.class
out/production/Day 6/pl/kanthak/Stage1.class
out/production/Day 6/pl/kanthak/Stage2.class
Day 6/Day 6.iml
out/production/Advent of Code 2019/Main.class
out/production/Advent of Code 2019/pl/kanthak/code/Day1/Day1.class
out/production/Advent of Code 2019/pl/kanthak/code/Day2/Day2.class
out/production/Advent of Code 2019/pl/kanthak/test/Day1/Day1Test.class
out/production/Day 1/pl/kanthak/data.txt
out/production/Day 1/pl/kanthak/src/Day1.class
out/production/Day 1/pl/kanthak/test/Stage2Test.class
Advent of Code 2019/Advent of Code 2019.iml
.idea/libraries/lib.xml
lib/apiguardian-api-1.1.0.jar
lib/junit-jupiter-5.7.0.jar
lib/junit-jupiter-api-5.7.0.jar
lib/junit-jupiter-engine-5.7.0.jar
lib/junit-jupiter-params-5.7.0.jar
lib/junit-platform-commons-1.7.0.jar
lib/junit-platform-engine-1.7.0.jar
lib/opentest4j-1.2.0.jar
out/production/Advent of Code/Day1/data.txt
out/production/Advent of Code/Day2/data.txt
out/production/Advent of Code/main/java/Main.class
out/production/Advent of Code/main/java/pl/dominik/Day1/Day1.class
out/production/Advent of Code/main/java/pl/dominik/Day2/Day2.class
out/production/Advent of Code/main/resources/Day1/data.txt
out/production/Advent of Code/main/resources/Day2/data.txt
out/test/Advent of Code/Day1/Day1Test.class
out/test/Advent of Code/Day2/Day2Test.class
out/production/Advent of Code/Day3/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day3/Day3.class
out/production/Advent of Code/main/java/pl/dominik/Day3/Path.class
out/production/Advent of Code/main/java/pl/dominik/Day3/Position.class
out/production/Advent of Code/main/resources/Day3/data.txt
out/test/Advent of Code/Day3/Day3Test.class
out/test/Advent of Code/Day4/Day4Test.class
out/production/Advent of Code/main/resources/Day4/data.txt
out/production/Advent of Code/Day4/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day4/Day4.class
out/test/Advent of Code/Day5/Day5Test.class
out/production/Advent of Code/main/resources/Day5/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day5/Day5.class
out/production/Advent of Code/Day5/data.txt
out/test/Advent of Code/Day6/Day6Test.class
out/production/Advent of Code/Day6/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day6/Day6.class
out/production/Advent of Code/main/java/pl/dominik/Day6/Planet.class
out/production/Advent of Code/main/resources/Day6/data.txt
out/production/Advent of Code/Day7/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day7/Day7.class
out/production/Advent of Code/main/java/pl/dominik/Day7/IntcodeComputer.class
out/production/Advent of Code/main/resources/Day7/data.txt
out/test/Advent of Code/Day7/Day7Test.class
out/test/Advent of Code/Day8/Day8Test.class
out/production/Advent of Code/Day8/data.txt
out/production/Advent of Code/main/resources/Day8/data.txt
out/production/Advent of Code/main/java/pl/dominik/Day8/Day8.class
